.WatchDisp1{
    background-image: url(../Images/Watch1.jpg);
}
.WatchDisp2{
    background-image: url(../Images/Watch2.jpg);
}
.WatchDisp3{
    background-image: url(../Images/Watch3.jpg);
}
.WatchDisp4{
    background-image: url(../Images/Watch4.jpg);
}
.WatchDisp5{
    background-image: url(../Images/Watch5.jpg);
}
.ShoeDisp1{
    background-image: url(../Images/Shoe1.jpg);
}
.ShoeDisp2{
    background-image: url(../Images/Shoe2.jpg);
}
.ShoeDisp3{
    background-image: url(../Images/Shoe3.jpg);
}
.ShoeDisp4{
    background-image: url(../Images/Shoe4.jpg);
}
.ShoeDisp5{
    background-image: url(../Images/Shoe5.jpg);
}
.ClothDisp1{
    background-image: url(../Images/Cloth1.jpg);
}
.ClothDisp2{
    background-image: url(../Images/Cloth2.jpg);
}
.ClothDisp3{
    background-image: url(../Images/Cloth3.jpg);
}
.ClothDisp4{
    background-image: url(../Images/Cloth4.jpg);
}
.ClothDisp5{
    background-image: url(../Images/Cloth5.jpg);
}